extends layout

block layout-content
  div.View
    div.Message
      div.Title

      ul
        li: a(href='/') Home
        each y in sources
            li: a(href='news/'+y) #{y}
      

      table(style='width:100%', border='1')
      
        tr
            th Headline
            th Source
        each x in articles
            tr
                td
                    a(href=x.address) #{x.title}
                td #{x.source}